## Homework following intro to python lesson 2
### In lesson two, we covered:
* getting a jupyter notebook up and running
* importing pandas
* creating a dataframe
* indexing in pandas (columns and rows)
* operations (ex: sum) for rows/columns
* adding new columns
* concatenating dataframes
***

#### Homework 2 picks up with the remaining questions from homework 1:

6 C: add a new key/value pair for each student that represents their
final grade (average of their 3 exam scores)


6 D: what is the class average for 8th graders? 9th graders?

### Homework 2:

To begin homework 2, launch a new jupyter notebook (or use this one). Answer each question, copying over code from this notebook where necessary.

### Q. 1: Import pandas and convert the dictionary below to a dataframe object called 'iris_df':

In [16]:
iris_dict = {'petal_length': {0: 1.3999999999999999,
                  1: 1.3999999999999999,
                  2: 1.3,
                  3: 1.5,
                  4: 1.3999999999999999,
                  5: 1.7,
                  6: 1.3999999999999999,
                  7: 1.5,
                  8: 1.3999999999999999,
                  9: 1.5},
 'petal_width': {0: 0.20000000000000001,
                 1: 0.20000000000000001,
                 2: 0.20000000000000001,
                 3: 0.20000000000000001,
                 4: 0.20000000000000001,
                 5: 0.40000000000000002,
                 6: 0.29999999999999999,
                 7: 0.20000000000000001,
                 8: 0.20000000000000001,
                 9: 0.10000000000000001},
 'sepal_length': {0: 5.0999999999999996,
                  1: 4.9000000000000004,
                  2: 4.7000000000000002,
                  3: 4.5999999999999996,
                  4: 5.0,
                  5: 5.4000000000000004,
                  6: 4.5999999999999996,
                  7: 5.0,
                  8: 4.4000000000000004,
                  9: 4.9000000000000004},
 'sepal_width': {0: 3.5,
                 1: 3.0,
                 2: 3.2000000000000002,
                 3: 3.1000000000000001,
                 4: 3.6000000000000001,
                 5: 3.8999999999999999,
                 6: 3.3999999999999999,
                 7: 3.3999999999999999,
                 8: 2.8999999999999999,
                 9: 3.1000000000000001},
 'species': {0: 'setosa',
             1: 'setosa',
             2: 'setosa',
             3: 'setosa',
             4: 'setosa',
             5: 'setosa',
             6: 'setosa',
             7: 'setosa',
             8: 'setosa',
             9: 'setosa'}}

In [57]:
import pandas as pd
iris_df = pd.DataFrame(iris_dict)
iris_df.head()

   petal_length  petal_width  sepal_length  sepal_width species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa

### Q. 2: How many columns/features do we have in our dataframe? What are they?

In [37]:
print('number of columns:',len(iris_df.columns))
print('column names:',list(iris_df.columns))

number of columns: 5
column names: ['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'species']

### Q. 3: Select the column 'petal_length' and save it to a variable:

In [29]:
petal_length = iris_df.petal_length
petal_length

# or:

petal_length = iris_df['petal_length']
petal_length

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
5    1.7
6    1.4
7    1.5
8    1.4
9    1.5
Name: petal_length, dtype: float64

### Q. 4: Select columns 'petal length', 'petal width', and 'species' and save it to a separate variable (which is itself another dataframe):

In [52]:
petal_df = iris_df[['petal_length', 'petal_width', 'species']]
petal_df

   petal_length  petal_width species
0           1.4          0.2  setosa
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa
5           1.7          0.4  setosa
6           1.4          0.3  setosa
7           1.5          0.2  setosa
8           1.4          0.2  setosa
9           1.5          0.1  setosa

### Q. 5: From the main iris_df dataframe, select the first 5 rows:

In [34]:
iris_df.iloc[0:5]

   petal_length  petal_width  sepal_length  sepal_width species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa

### Q. 6: What is the sum of sepal_width? What is the mean sepal_length?

In [39]:
print('sepal_width total:',sum(iris_df.sepal_width))
print('average sepal_length:',(sum(iris_df.sepal_length))/len(iris_df.sepal_length))

sepal_width total: 33.1
average sepal_length: 4.86

### Q. 7: Add a new column to the iris dataframe that represents petal area (length * width):

In [62]:
iris_df['petal_area'] = iris_df['petal_length']*iris_df['petal_width']
iris_df

   petal_length  petal_width  sepal_length  sepal_width species  petal_area
0           1.4          0.2           5.1          3.5  setosa        0.28
1           1.4          0.2           4.9          3.0  setosa        0.28
2           1.3          0.2           4.7          3.2  setosa        0.26
3           1.5          0.2           4.6          3.1  setosa        0.30
4           1.4          0.2           5.0          3.6  setosa        0.28
5           1.7          0.4           5.4          3.9  setosa        0.68
6           1.4          0.3           4.6          3.4  setosa        0.42
7           1.5          0.2           5.0          3.4  setosa        0.30
8           1.4          0.2           4.4          2.9  setosa        0.28
9           1.5          0.1           4.9          3.1  setosa        0.15

### Q. 8 - Return of the Dictionary

Congratulations! You have been lucky enough to be selected as an intelligence analyst for a think tank that is dedicated to de-escalating nuclear risk to the United States. Given recent news, all eyes are on North Korea. This past July North Korea conducted two test flights for an alleged ICBM-class rocket, in addition to the recent detonation of an alleged hydrogen bomb. Both developments would significantly elevate the threat of their nuclear arsenal. Your new employer has asked you to conduct analyses to assess the developing risk facing U.S. cities given the rapid series of technological leaps in North Korea's nuclear program. 

Copy the following dictionary and list to your notebook and answer the remaining questions. Millions are counting on you:

In [64]:
US_cities = {'los angeles': {'population (millions)': 3.976, 'coordinates': '34.0522° N, 118.2437° W'},
'san francisco': {'population (millions)': 0.864, 'coordinates': '37.7749° N, 122.4194° W'},
'seattle': {'population (millions)': 0.704, 'coordinates': '47.6062° N, 122.3321° W'},
'salt lake city': {'population (millions)': 0.193, 'coordinates': '40.7608° N, 111.8910° W'},
'pittsburgh': {'population (millions)': 0.303, 'coordinates': '40.4406° N, 79.9959° W'},
'chicago': {'population (millions)': 2.705, 'coordinates': '41.8781° N, 87.6298° W'},
'new york city': {'population (millions)': 8.538, 'coordinates': '40.7128° N, 74.0059° W'},
'portland': {'population (millions)': 0.639, 'coordinates': '45.5231° N, 122.6765° W'},
'sacramento': {'population (millions)': 0.495, 'coordinates': '38.5816° N, 121.4944° W'},
'las vegas': {'population (millions)': 0.632, 'coordinates': '36.1699° N, 115.1398° W'},
'denver': {'population (millions)': 0.682, 'coordinates': '39.7392° N, 104.9903° W'}}

cities_to_add = [['san diego', [1.407, '32.7157° N, 117.1611° W']],
                ['san jose', [1.025, '37.3382° N, 121.8863° W']],
                 ['new orleans', [0.391, '29.9511° N, 90.0715° W']],
                ['washington dc', [0.681, '38.9072° N, 77.0369° W']],
                ['miami', [0.453, '25.7617° N, 80.1918° W']]]

### Q 8.1: programatically, add each city in 'cities_to_add' to the dictionary of US cities, then print out the total number of cities and their names:

In [71]:
for i in cities_to_add:
    US_cities[(i[0])] = {'population (millions)': i[1][0], 'coordinates': i[1][1]}
    
print('number of US cities:',len(US_cities))
print('US cities:',list(US_cities.keys()))

number of US cities: 16
US cities: ['seattle', 'salt lake city', 'san diego', 'las vegas', 'san jose', 'portland', 'miami', 'chicago', 'new orleans', 'washington dc', 'denver', 'pittsburgh', 'sacramento', 'san francisco', 'new york city', 'los angeles']

### Q 8.2: Assume the worst case scenario: North Korea can hit and entirely destroy each city within our dictionary. How many casualties can we expect?:

In [73]:
count = 0
for key in US_cities:
    count += US_cities[key]['population (millions)']
print('total casualties (millions):', round(count, 2))

total casualties (millions): 23.69

### Q 8.3: We would like to know how many cities North Korea can reach given their current (or potential) capabilities. Use the provided function (which calculates the Haversine distance between two points on a globe; see: https://en.wikipedia.org/wiki/Haversine_formula) to update the US_cities dictionary to include a key value pair that represents the distance between the launch site and each U.S. city. The key should be called 'rocket_distance' and the value should be a floating point integer.

### note: intelligence sources reveal that the first supposed ICBM was launched from a site near Panghyon Airport (coordinates: [39.872126, -125.269258]); use this location as the assumed launch point when calculating distances.

In [74]:
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    km = 6367 * c
    return km

In [76]:
# haversine usage example:
chitown_coords = [41.8781, 87.6298]
nyc_coords = [40.7128, 74.0059]

###############################################################################################
### important to note where longitude and latitude go when using the function via indexing: ###
###############################################################################################

chi_to_nyc_dist = haversine(chitown_coords[1],chitown_coords[0],nyc_coords[1],nyc_coords[0])
print('distance between chicago and NYC (km):', round(chi_to_nyc_dist,2))

distance between chicago and NYC (km): 1143.58

### hint: notice that the value for the 'coordinates' key is a string containing extraneous information ('N', 'W', '°'); regular expressions often help us with string manipulation. see the following code for an example in how to strip a string of all values other than floating point digits:

In [77]:
import re
string_with_useless_stuff = 'u$3le33, --3.33--, g4rb4g3, 6.66*'
re.findall("\d+\.\d+", string_with_useless_stuff)

['3.33', '6.66']

In [78]:
launch_coords = [39.872126, -125.269258]
for key in US_cities:
    current_city_coords = re.findall("\d+\.\d+", US_cities[key]['coordinates'])
    launch_to_city_dist = haversine(float(current_city_coords[1]),float(current_city_coords[0]),launch_coords[1],launch_coords[0])
    US_cities[key]['rocket_distance'] = round(launch_to_city_dist,2)

In [79]:
import pprint
pprint.pprint(US_cities)

{'chicago': {'coordinates': '41.8781° N, 87.6298° W',
             'population (millions)': 2.705,
             'rocket_distance': 10331.52},
 'denver': {'coordinates': '39.7392° N, 104.9903° W',
            'population (millions)': 0.682,
            'rocket_distance': 9794.04},
 'las vegas': {'coordinates': '36.1699° N, 115.1398° W',
               'population (millions)': 0.632,
               'rocket_distance': 9539.83},
 'los angeles': {'coordinates': '34.0522° N, 118.2437° W',
                 'population (millions)': 3.976,
                 'rocket_distance': 9520.91},
 'miami': {'coordinates': '25.7617° N, 80.1918° W',
           'population (millions)': 0.453,
           'rocket_distance': 12246.92},
 'new orleans': {'coordinates': '29.9511° N, 90.0715° W',
                 'population (millions)': 0.391,
                 'rocket_distance': 11429.09},
 'new york city': {'coordinates': '40.7128° N, 74.0059° W',
                   'population (millions)': 8.538,
                   'rocket_distance': 10837.59},
 'pittsburgh': {'coordinates': '40.4406° N, 79.9959° W',
                'population (millions)': 0.303,
                'rocket_distance': 10718.4},
 'portland': {'coordinates': '45.5231° N, 122.6765° W',
              'population (millions)': 0.639,
              'rocket_distance': 8356.07},
 'sacramento': {'coordinates': '38.5816° N, 121.4944° W',
                'population (millions)': 0.495,
                'rocket_distance': 8958.16},
 'salt lake city': {'coordinates': '40.7608° N, 111.8910° W',
                    'population (millions)': 0.193,
                    'rocket_distance': 9342.27},
 'san diego': {'coordinates': '32.7157° N, 117.1611° W',
               'population (millions)': 1.407,
               'rocket_distance': 9697.93},
 'san francisco': {'coordinates': '37.7749° N, 122.4194° W',
                   'population (millions)': 0.864,
                   'rocket_distance': 8962.68},
 'san jose': {'coordinates': '37.3382° N, 121.8863° W',
              'population (millions)': 1.025,
              'rocket_distance': 9030.18},
 'seattle': {'coordinates': '47.6062° N, 122.3321° W',
             'population (millions)': 0.704,
             'rocket_distance': 8219.01},
 'washington dc': {'coordinates': '38.9072° N, 77.0369° W',
                   'population (millions)': 0.681,
                   'rocket_distance': 10959.27}}

### Q 8.4: Let's assume that North Korea continues to make progress with its ICBM program and will soon have a range of 10,000 km. 

* How many US cities are at risk? 
* Print out a list of cities that are safe
* Print out a list of cities that are at risk

In [84]:
cities_at_risk = []
cities_safe = []

rocket_range = 10000

for key in US_cities:
    if US_cities[key]['rocket_distance'] < rocket_range:
        cities_at_risk.append(key)
    else:
        cities_safe.append(key)
print('number of cities at risk:',len(cities_at_risk))
print('list of cities that are safe:', cities_safe)
print('list of cities at risk:', cities_at_risk)

number of cities at risk: 10
list of cities that are safe: ['miami', 'chicago', 'new orleans', 'washington dc', 'pittsburgh', 'new york city']
list of cities at risk: ['seattle', 'salt lake city', 'san diego', 'las vegas', 'san jose', 'portland', 'denver', 'sacramento', 'san francisco', 'los angeles']

### Q 8.5: Given the results of the analysis in Q1.4, calculate how many casualties would be expected given a strike against every city at risk. Assume that their weapons would be capable of destroying 25% of each city (population):

In [83]:
risk_city_count = 0
for key in US_cities:
    if key in cities_at_risk:
        risk_city_count += (US_cities[key]['population (millions)'])*0.25
print('projected casualties (million):', round(risk_city_count, 2))

projected casualties (million): 2.65