## Jon intro to python, lesson 2 (9/3/17)
___

### importing pandas:

In [213]:
import pandas as pd
import numpy as np

### creating a dataframe:

Note: dataframes form the basic building block of pandas, an easy to use, intuitive, and powerful data analysis structure. Much like dataframes in R/Rstudio, pandas datasets are "tidy data": Each variables is saved in a column, and each observation is saved in a row. Tidy datasets preserve observations as you manipulate variables.

In [214]:
# specify values for each column:
df = pd.DataFrame(
    {'a':[4,5,6],
    'b':[7,8,9],
    'c':[10,11,12],},
index = [1,2,3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [215]:
# specify values for each row:
df = pd.DataFrame(
[[4,5,6],
[7,8,9],
[10,11,12]],
index = [1,2,3],
columns = ['column1', 'b', '3'])
df

   column1   b   3
1        4   5   6
2        7   8   9
3       10  11  12

### Indexing in pandas:

Here we want to learn how to subset rows or columns.

In [235]:
# selecting a specific column:
#df['column1']

# alternatively:

df.column1

# operations with selected data?

sum(df.column1)
# selecting multiple columns?

df[['3', 'column1']]
# list all columns names?

df

   column1   b   3
1        4   5   6
2        7   8   9
3       10  11  12

In [241]:
# selecting a specific row (via index):
df.iloc[1]

# selecting multiple?

df.iloc[1:3]

# operations with selected data?
sum(df.iloc[1])

24

### Let's create a second dataframe, and see how to append them together:

In [242]:
df2 = pd.DataFrame(
[[np.nan,14,15],
[16,np.nan,18],
[19,20,np.nan]],
index = [1,2,3],
columns = ['d', 'e', 'f'])

df2

      d     e     f
1   NaN  14.0  15.0
2  16.0   NaN  18.0
3  19.0  20.0   NaN

In [243]:
# adding a column from df2 to df1:

df['newcol'] = df2['f']
df

   column1   b   3  newcol
1        4   5   6    15.0
2        7   8   9    18.0
3       10  11  12     NaN

In [244]:
# adding a calculated column:

df['calc_col'] = df['column1']*df['b']
df

# or:

df['calc_col'] = df.column1*df.b
df

   column1   b   3  newcol  calc_col
1        4   5   6    15.0        20
2        7   8   9    18.0        56
3       10  11  12     NaN       110

### concatenating dataframes:

In [245]:
# we have two dataframes of equal size, and are adding df2 to df
df_df2_concat = pd.concat([df, df2], axis=1)
df_df2_concat

   column1   b   3  newcol  calc_col     d     e     f
1        4   5   6    15.0        20   NaN  14.0  15.0
2        7   8   9    18.0        56  16.0   NaN  18.0
3       10  11  12     NaN       110  19.0  20.0   NaN

In [246]:
# lets add df2 to the bottom of df:
df_df2_vert_concat = pd.concat([df, df2], ignore_index=True)
df_df2_vert_concat

      3     b  calc_col  column1     d     e     f  newcol
0   6.0   5.0      20.0      4.0   NaN   NaN   NaN    15.0
1   9.0   8.0      56.0      7.0   NaN   NaN   NaN    18.0
2  12.0  11.0     110.0     10.0   NaN   NaN   NaN     NaN
3   NaN   NaN       NaN      NaN   NaN  14.0  15.0     NaN
4   NaN   NaN       NaN      NaN  16.0   NaN  18.0     NaN
5   NaN   NaN       NaN      NaN  19.0  20.0   NaN     NaN

In [247]:
# what if uneven?

# let's add another row to df2:

df2 = df2.append(pd.DataFrame([[5, 6, 7], [7, 8, 9]], columns=list('def')), ignore_index=True)
df2

      d     e     f
0   NaN  14.0  15.0
1  16.0   NaN  18.0
2  19.0  20.0   NaN
3   5.0   6.0   7.0
4   7.0   8.0   9.0

In [ ]:
# concatenate df and df2 (uneven):

___
### Pandas can read built-in datasets from other packages or through online .csv files; let's load one and play around with the data:

In [ ]:
# using sklearn:

from sklearn.datasets import load_iris
iris = load_iris()
data = iris.data
column_names = iris.feature_names
species_names = iris.target_names

iris_df = pd.DataFrame(iris.data, columns= column_names)
iris_df.head() # missing species?

In [ ]:
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
data1.head()

In [ ]:
# loading a dataframe from a url:
iris_df2 = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [ ]:
iris_df2.head()

In [ ]:
# using seaborn:

import seaborn.apionly as sns
iris_df = sns.load_dataset('iris')
iris_df.head()

### Let's inspect our data:

In [ ]:
iris_df.head()

In [ ]:
# print full dataframe:
iris_df

In [ ]:
# how many observations?
num_rows = len(iris_df)
print('number of observations:', num_rows)

In [ ]:
# get column names (features):
num_cols = len(iris_df.columns)
print('number of features:', num_cols)
print("features:", list(iris_df.columns))

### Manipulating/sorting our dataframe:

In [ ]:
# unique values within a column?
num_species = iris_df['species'].nunique()
species_list = list(iris_df['species'].unique())
print('number of species:',num_species)
print('species:',species_list)

In [ ]:
# sum of a column:
sum(iris_df['sepal_length'])

In [ ]:
# minimum value:
min(iris_df['sepal_length'])

In [ ]:
# maximum value:
max(iris_df['sepal_length'])

In [ ]:
# mean value (using numpy):
np.mean(iris_df['sepal_length'])

In [ ]:
# subsetting data by columns:

In [ ]:
# subsetting data by rows:

# we can do this manually:

iris_df.iloc[0:10] # first 10 observations

In [ ]:
# but we could also do this in a way that's a bit more useful:

# let's say we're interested in looking at all the data where
# petal_length is above a certain value:

iris_df[iris_df.petal_length > 5.5]

In [ ]:
# or what about selecting columns in a useful way?

# selecting all columns that start in a certain way:

iris_df.filter(regex='length$') # selects all rows ending in 'length'

# can do pretty much any sort of selecting w/ regular expressions

In [ ]:
# let's say we wanted to organize our data in a meaningful way, for example, listing low to high:

iris_df.sort_values('petal_width')

# NB: see that pandas preserves observations following the sort

In [ ]:
# what about high to low?

iris_df.sort_values('petal_width', ascending=False)

In [ ]:
# review adding a column:

In [ ]:
# now let's drop a column:

# df.drop(['length', 'height'], axis=1)

### Let's look at some summary statistics:

In [ ]:
iris_df.describe()

In [ ]:
# but what if we're interested in looking at means (or anything else)
# by a meaningful feature?

# grouping data:

# let's say we want to quickly look at the mean of each feature BY each species:

iris_df.groupby(by='species').mean()

In [ ]:
# not as helpful, but an example of grouping by multiple columns:

iris_df.groupby(['sepal_length', 'sepal_width']).mean()

### Exporting data:

In [ ]:
# let's export our dataframe to a .csv so we can load it later:

file_name = 'iris_df_090317.csv'

iris_df.to_csv(file_name)

### Plotting:

In [ ]:
# let's make a histogram:
%matplotlib inline

iris_df.plot.hist()

In [ ]:
iris_df.plot.scatter(x='petal_width', y='petal_length')